body{
    font-family: Arial, sans-serif;
    background:#f0f2f5;
    margin:0;
    padding:20px;
}

.contenedor{
    max-width:700px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:15px;
}

h1{
    text-align:center;
}

.actividad{
    padding:10px;
    border:1px solid #ccc;
    border-radius:10px;
    margin-bottom:10px;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    cursor:pointer;
}

input{
    width:100%;
    padding:10px;
    margin-top:10px;
    box-sizing:border-box;
}

#cronograma{
    white-space: pre-line;
    margin-top:10px;
}

#resultado{
    margin-top:20px;
    font-size:18px;
    font-weight:bold;
}